In [1]:
#importing dependecies
import pandas as pd
import janitor
import datetime as dt
import numpy as np

# creating the dataframe with pyjanitor
spotify_df = (
    # reading data into dataframe
    pd.read_csv("../Resources/Popular_Spotify_Songs.csv", encoding='latin 1')

    # dropping rows with na values
    .dropna()

    # renaming columns
    .rename_column("track_name", "track")
    .rename_column("artist(s)_name", "artists")
)

spotify_df

/Users/ezrellemyhre-hager/anaconda3/lib/python3.11/site-packages/pandas_flavor/register.py:157: FutureWarning: This function will be deprecated in a 1.x release. Please use `pd.DataFrame.rename` instead.
  return method(self._obj, *args, **kwargs)

,track,artists,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703.0,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286.0,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974.0,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817.0,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322.0,84,...,144,A,Minor,65,23,80,14,63,11,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,My Mind & Me,Selena Gomez,1,2022,11,3,953,0,91473363.0,61,...,144,A,Major,60,24,39,57,0,8,3
949,Bigger Than The Whole Sky,Taylor Swift,1,2022,10,21,1180,0,121871870.0,4,...,166,F#,Major,42,7,24,83,1,12,6
950,A Veces (feat. Feid),"Feid, Paulo Londra",2,2022,11,3,573,0,73513683.0,2,...,92,C#,Major,80,81,67,4,0,8,6
951,En La De Ella,"Feid, Sech, Jhayco",3,2022,10,20,1320,0,133895612.0,29,...,97,C#,Major,82,67,77,8,0,12,5
952,Alone,Burna Boy,1,2022,11,4,782,2,96007391.0,27,...,90,E,Minor,61,32,67,15,0,11,5

In [2]:
# combining year, month, and day into a single column
spotify_df['date'] = pd.to_datetime(dict(year=spotify_df["released_year"], month=spotify_df["released_month"], day=spotify_df["released_day"]))

# dropping the old date columns
spotify_df = spotify_df.drop(columns=["released_year", "released_month", "released_day"])

In [3]:
# viewing current columns
spotify_df.columns

Index(['track', 'artists', 'artist_count', 'in_spotify_playlists',
       'in_spotify_charts', 'streams', 'in_apple_playlists', 'in_apple_charts',
       'in_deezer_playlists', 'in_deezer_charts', 'in_shazam_charts', 'bpm',
       'key', 'mode', 'danceability_%', 'valence_%', 'energy_%',
       'acousticness_%', 'instrumentalness_%', 'liveness_%', 'speechiness_%',
       'date'],
      dtype='object')

In [4]:
# checking summary statistics
spotify_df.describe()

,artist_count,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_charts,bpm,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%,date
count,816.000000,816.000000,816.000000,8.160000e+02,816.000000,816.000000,816.000000,816.000000,816.000000,816.000000,816.000000,816.000000,816.000000,816.000000,816.000000,816
mean,1.568627,4852.316176,11.736520,4.689858e+08,60.215686,49.534314,2.454657,122.580882,67.409314,51.172794,64.356618,26.333333,1.678922,18.170343,10.535539,2018-12-20 14:19:24.705882368
min,1.000000,31.000000,0.000000,2.762000e+03,0.000000,0.000000,0.000000,65.000000,23.000000,4.000000,14.000000,0.000000,0.000000,3.000000,2.000000,1930-01-01 00:00:00
25%,1.000000,829.000000,0.000000,1.342848e+08,12.000000,6.000000,0.000000,99.000000,57.000000,32.000000,53.000000,5.000000,0.000000,10.000000,4.000000,2021-01-24 18:00:00
50%,1.000000,2037.500000,3.000000,2.638368e+08,32.000000,34.500000,0.000000,120.000000,70.000000,51.000000,66.000000,17.000000,0.000000,12.000000,6.000000,2022-05-06 00:00:00
75%,2.000000,4890.750000,16.000000,6.011986e+08,78.250000,84.000000,2.000000,141.250000,79.000000,70.000000,76.000000,41.000000,0.000000,24.000000,12.000000,2022-12-01 06:00:00
max,8.000000,52898.000000,147.000000,3.562544e+09,532.000000,275.000000,45.000000,206.000000,96.000000,97.000000,97.000000,97.000000,91.000000,97.000000,64.000000,2023-07-14 00:00:00
std,0.876522,7745.565488,18.624555,5.231267e+08,74.953565,49.570536,5.399650,28.188643,14.688808,23.620742,16.116646,25.477606,8.772508,13.550239,10.222852,NaN

In [5]:
# sorting by number of streams
spofity_df = spotify_df.sort_values("streams")
spotify_df

,track,artists,artist_count,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_playlists,in_deezer_charts,...,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%,date
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,553,147,141381703.0,43,263,45,10,...,B,Major,80,89,83,31,0,8,4,2023-07-14
1,LALA,Myke Towers,1,1474,48,133716286.0,48,126,58,14,...,C#,Major,71,61,74,7,0,10,4,2023-03-23
2,vampire,Olivia Rodrigo,1,1397,113,140003974.0,94,207,91,14,...,F,Major,51,32,53,17,0,31,6,2023-06-30
3,Cruel Summer,Taylor Swift,1,7858,100,800840817.0,116,207,125,12,...,A,Major,55,58,72,11,0,11,15,2019-08-23
4,WHERE SHE GOES,Bad Bunny,1,3133,50,303236322.0,84,133,87,15,...,A,Minor,65,23,80,14,63,11,6,2023-05-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,My Mind & Me,Selena Gomez,1,953,0,91473363.0,61,13,37,1,...,A,Major,60,24,39,57,0,8,3,2022-11-03
949,Bigger Than The Whole Sky,Taylor Swift,1,1180,0,121871870.0,4,0,8,0,...,F#,Major,42,7,24,83,1,12,6,2022-10-21
950,A Veces (feat. Feid),"Feid, Paulo Londra",2,573,0,73513683.0,2,0,7,0,...,C#,Major,80,81,67,4,0,8,6,2022-11-03
951,En La De Ella,"Feid, Sech, Jhayco",3,1320,0,133895612.0,29,26,17,0,...,C#,Major,82,67,77,8,0,12,5,2022-10-20
952,Alone,Burna Boy,1,782,2,96007391.0,27,18,32,1,...,E,Minor,61,32,67,15,0,11,5,2022-11-04

In [6]:
# artists table
artists_df = spotify_df[['track', 'artists', 'artist_count', 'streams']]
artists_df = artists_df.assign(track_id=range(len(artists_df)))

artists_df = artists_df[["track_id", 'track', 'artists', 'artist_count', 'streams']]
artists_df

artists_df.to_csv("../Outputs/artists_df.csv", index=False)
artists_df.dtypes

track_id          int64
track            object
artists          object
artist_count      int64
streams         float64
dtype: object

In [7]:
# date table
date_df = spotify_df[['track', 'date']]
date_df = date_df.assign(date_id=range(len(date_df)))
date_df = date_df.assign(track_id=range(len(date_df)))

date_df = date_df[["date_id", "track_id", "date"]]
date_df
date_df.to_csv("../Outputs/date_df.csv", index=False)

In [8]:
# music characteristics table
music_df = spotify_df[['track', 'bpm', 'mode', 'key', 'danceability_%', 'valence_%', 'energy_%', 'acousticness_%', 'liveness_%', 'speechiness_%']]
music_df = music_df.assign(music_id=range(len(music_df)))
music_df = music_df.assign(track_id=range(len(music_df)))

music_df = music_df[["music_id", 'track_id', 'bpm', 'mode', 'key', 'danceability_%', 'valence_%', 'energy_%', 'acousticness_%', 'liveness_%', 'speechiness_%']]
music_df

music_df.to_csv("../Outputs/music_char.csv", index=False)

In [9]:
#charts table
charts_df = spotify_df[['track', 'in_spotify_charts', 'in_apple_charts', 'in_deezer_charts', 'in_shazam_charts']]
charts_df = charts_df.assign(chart_id=range(len(charts_df)))
charts_df = charts_df.assign(track_id=range(len(charts_df)))

charts_df = charts_df[['chart_id', 'track_id', 'in_spotify_charts', 'in_apple_charts', 'in_deezer_charts', 'in_shazam_charts']]
#removing commas from numbers
charts_df['in_shazam_charts'] = charts_df['in_shazam_charts'].str.replace(',', '').astype(int)
charts_df

,chart_id,track_id,in_spotify_charts,in_apple_charts,in_deezer_charts,in_shazam_charts
0,0,0,147,263,10,826
1,1,1,48,126,14,382
2,2,2,113,207,14,949
3,3,3,100,207,12,548
4,4,4,50,133,15,425
...,...,...,...,...,...,...
948,811,811,0,13,1,0
949,812,812,0,0,0,0
950,813,813,0,0,0,0
951,814,814,0,26,0,0
952,815,815,2,18,1,0

In [10]:
#exporting csv
charts_df.dtypes
charts_df.to_csv("../Outputs/charts_df.csv", index=False)

In [11]:
#creating playlist data frame
playlist_df = spotify_df[['track', 'in_spotify_playlists', 'in_apple_playlists', 'in_deezer_playlists']]
playlist_df = playlist_df.assign(playlist_id=range(len(playlist_df)))
playlist_df = playlist_df.assign(track_id=range(len(playlist_df)))

playlist_df = playlist_df[['playlist_id', 'track_id', 'in_spotify_playlists', 'in_apple_playlists', 'in_deezer_playlists']]
#removing commas from column
playlist_df['in_deezer_playlists'] = playlist_df['in_deezer_playlists'].str.replace(',', '').astype(int)
playlist_df

,playlist_id,track_id,in_spotify_playlists,in_apple_playlists,in_deezer_playlists
0,0,0,553,43,45
1,1,1,1474,48,58
2,2,2,1397,94,91
3,3,3,7858,116,125
4,4,4,3133,84,87
...,...,...,...,...,...
948,811,811,953,61,37
949,812,812,1180,4,8
950,813,813,573,2,7
951,814,814,1320,29,17
952,815,815,782,27,32

In [12]:
#exporting as a csv
playlist_df.to_csv("../Outputs/playlist_df.csv", index=False)
playlist_df.dtypes

playlist_id             int64
track_id                int64
in_spotify_playlists    int64
in_apple_playlists      int64
in_deezer_playlists     int64
dtype: object